* {
  padding: 0;
  margin: 0;
}
body {
  touch-action: manipulation;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}
.board {
  background: url(flappybirdbg.png);
}
